
<h1>About</h1>
<p>
    som berättar någorlunda utförligt om ditt projekt och vad det handlar om.
</p>

<h1>dokumentation</h1>
<p>
    Länk till dokumentationen som är genererad via phpdoc.
    Länk till rapporten från phpmetrics.
    Länk till ditt GitHub repo.
    Länk till Scrutinizer för ditt repo.
</p>

<h1>Summering</h1>
<p>
    summering där du berättar om projektets kodkvalitet. Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt. Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.
</p>


<h1>ATT GÖRA:</h1>
<p>
    GIT: README.md // förklara kort om repot
    Din about-sida skall innehålla en länk till GitHub (eller motsvarande).
</p>