<!DOCTYPE html>
<html class="normal">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="{{ asset("css/proj.css") }}">
        {% endblock css %}

    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="{{ url("home") }}"> Home</a>
                <a href="{{ url("proj-home") }}"> Square </a>
                <a href="{{ url("leaderboard") }}"> Leaderboard </a>
                <div class="animation start-home"></div>
            </nav>
        </header>
        <div class="body">
        {% block body %}
        
        {% endblock %}
        </div>
    </body>
    {% include "./proj/proj-footer.html.twig" %}
    
</html>
