<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="{{ asset("css/proj.css") }}">
        {% endblock css %}

    </head>
    <body>
        <header>
            <div class="h-div">
                <div class="h-text">
                    <h1>MVC</h1>
                </div>
            </div>
            <nav class="navbar">
                <a href="{{ url("home") }}"> Home</a>
                <a href="{{ url("proj-home") }}"> Proj </a>
            </nav>
        </header>
        <div class="body">
        {% block body %}
        
        {% endblock %}
        </div>
    </body>
    {% include "footer.twig" %}
    
</html>
