</body>
<footer class="footer">
  
            <div>
                <p>
                    Poker Square
                </p>
            </div>
            <div>
                <p>
                    Spelberoende? få hjälp <a href="https://spelberoende.se/"> Här!</a> 
                </p>
            </div>
            <div>
                <p>
                    Lär mer om den här sidan  <a href="{{ url("proj-doc") }}"> Här!</a>
                </p>
            </div>
        </div>
 
</footer>
</html>