{% extends "./proj/base.html.twig" %}

{% block title %}Delete{% endblock %}

{% block body %}


<form class="reset" method="post">
    <fieldset >
                <legend>Reset database</legend>
            <p >
                <input type="submit" value="Reset">
            </p>
       
    </fieldset>
</form>


{% endblock %}
