{% extends "./proj/bg-base.html.twig" %}

{% block title %}Result{% endblock %}

{% block body %}
{% set myLoopIndex = 1 %}

<div class="wrapper">
   
    <div class="score">
        <h1> Total Score: {{ result }}</h1>
        <table class="score-chart">
            {% for key, value in hands %}
            <tr>
                <td> {{ key }} : {{value}}st</td>
             </tr>
            {% endfor %}
         </table>
    </div>

    <div class="score">
        <form method="post">
            <h1>Leaderboard</h1>
            <fieldset >
                <div>
                    <div>
                        <legend>Lägg till på leaderboard</legend>
                        <p>
                            <label>Namn:
                                <input type="text" name="namn" value="" required>
                            </label>
                        </p>
                        <p>
                            <label>Alias:
                                <input type="text" name="alias" value="" required>
                            </label>
                        </p>
                    </div>
                </div>
                
                    <p class="center">
                        <input type="submit" value="Lägg till">
                    </p>
               
            </fieldset>
        </form>
    </div>

  


</div>
{% endblock %}
