{% extends "./proj/base.html.twig" %}

{% block title %}Result{% endblock %}

{% block body %}
{% set myLoopIndex = 1 %}

<div class="result">
    <div class="result-screen">
        <h1>{{ result }}</h1>
    </div>

    <div class="post-form">
        <form method="post">
            <fieldset >
                <div>
                    <div>
                        <legend>Lägg till på leaderboard</legend>
                        <p>
                            <label>Namn:
                                <input type="text" name="namn" value="" required>
                                
                            </label>
                        </p>
                        <p>
                            <label>Alias:
                                <input type="text" name="alias" value="" required>
                            </label>
                        </p>
                        <p>
                            <label>Land:
                                <input type="text" name="land" value="" required>
                                
                            </label>
                        </p>
                    </div>
                </div>
                
                    <p class="center">
                        <input type="submit" value="Lägg till">
                    </p>
               
            </fieldset>
        </form>
    </div>

    <div>
        <table class="result-table">
            
            {% for index in hands|batch(5, " ") %}

                    {% for key,value in index %}
                        
                    <tr>
                    {% for key,value in value %}
                        {% if key|last == '♥' or key|last == '♦'  %}
                        <td style="color: red ;">{{ key }}</td>
                        {% else %}
                        <td s>{{ key }}</td>
                        {% endif %}
                        
                    {% endfor %}
                    </tr>
                    
                    {% endfor %}
                
                
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
