{% extends "./proj/base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

<div>
<h2 class="center">{{title}}</h2>
<div class="wrapper">
    <h1>NU ÄR DET SLUT:</h1>
    <h3>POÄNG</h3>
</div>

{% endblock %}
