html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.body {
    min-height: 600px;
}
.normal {
    background: rgb(22,36,0);
    background: linear-gradient(90deg, rgb(0, 81, 6) 0%, rgba(11,121,9,1) 73%, rgba(2,124,11,1) 100%);
}

.bg-div {
    background: url("../img/sidepoker.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.center {
    text-align: center;
}

nav {
    margin: -8px auto 0;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    }
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
.navbar a:nth-child(1) {
            width: 33%;
}
.navbar a:nth-child(2) {
            width: 33%;
}
.navbar a:nth-child(3) {
            width: 33%;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 33%;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 33%;
    left: 33%;
    background-color: #d8301d;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 34%;
    left: 66%;
    background-color: #0ec70e;
}

.deck-table{
    border-spacing: 12px;
    border-collapse: separate;
    text-align: center;
}

.deck-table td{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color: #b8c1b8;
}

.deck-table a {
    display:block;
    width: 100%;
    height: 100%;
}
.deck-table a:hover {
    background-color: blue;
}

.gamecontainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.information {
    width: 20%;
    text-align: center;
    align-content: center;
    background-color: #576a57;
    border: solid black 3px;
    padding-bottom: 3%;
    
}
.info-div {
    border: solid black 5px;
    font-size: x-large;
    margin-right: 20%;
    margin-left: 20%;
    background-color: bisque;
}
.board  {
    width:60%;
    font-size: x-large;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.footer {
    background-color: rgb(5, 102, 20);
    color: blanchedalmond;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.footer a:visited {
    color: inherit;
}

.wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: beige;
    font-size: large;
    
}

.regler {
    width: 27%;
    align-self: center;
    border: 4px solid rgb(23, 157, 9);
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(5, 102, 20); 
}
.regler a {
    color: inherit;
}
.score {
    border: 4px solid rgb(23, 157, 9);
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(5, 102, 20);
   
}
.score-chart {
    border: solid rgb(143, 165, 143) 3px;
    border-spacing: 5px;
    height: fit-content;
}
.score-chart td {
    border: solid rgb(143, 165, 143) 2px;
    pad: 4px;
    
}

.play {
    width: 20%;
    margin-top: 20%;
}

.img-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sm-img-circle {
    max-width: 100px;
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.sm-img-circle:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.inside-box {
    padding: 10px;
}

#leaderboard {
    margin-top: 3%;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: bisque;
}
  
#leaderboard td, #leaderboard th {
border: 1px solid #ddd;
padding: 8px;
background-color: rgb(5, 102, 20);
}

#leaderboard tr:nth-child(even){background-color: #f2f2f2;}

#leaderboard tr:hover {background-color: rgb(222, 150, 150);}

#leaderboard th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #04AA6D;
color: white;
}
#leaderboard caption {
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 5px 0 0 black;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
    color: bisque;
}

.info-col {
    text-align: center;
    border: 4px solid rgb(23, 157, 9);
    border-radius: 8px;
    background-color: rgb(5, 102, 20);
}
.info-col a{
   color: inherit;
}

.reset {
    color: bisque;
    margin-top: 30px;
    max-width: 200px;
}


@media screen and (max-width: 700px) {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .score {
        align-self: center;
    }

    .regler {
        width: 75%;
    }
    .body {
        min-height: auto;
    }
}