{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{% if draw|length > 1 %}
    <table class="deck-table">
        {% for key,value in draw|batch(13) %}
            <tr>
                {% for item in value %}
                    {% for key,value in item %}
                        <td>{{ key }}</td>
                    {% endfor %}
                    
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    {% for key,value in draw %}
    <h2> Your card is: {{ key }}</h2>
    {% endfor %}
{% endif %}
    <h4>
    Number of cards left:  {{ count }}
    </h4>
{% endblock %}
