{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h2> Your card is: {{ draw }}</h2>
<h4>
   Number of cards left:  {{ count }}
</h4>

{% endblock %}
