{% extends "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<table class="deck-table">
    {% for suits in deck|batch(13, 'No item') %}
        <tr>
            {% for cards in suits %}
                <td>{{ cards }}</td>
            {% endfor %}
        </tr>
  
    {% endfor %}
</table>

{% endblock %}
