{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h3>Play a game?.</h3>
<p>
    Some Text about rules and stuff
</p>
<div style="gap: 7px; display: flex;">
    <button><a href="{{ url("game-start") }}"> Start</a></button>
</div>
{% endblock %}
