{% extends "base.html.twig" %}

{% block title %}Result{% endblock %}

{% block body %}

<div class="center">
<h1>{{ title }}</h1>
<p>
    Slutligt resultat {{ end}}
</p>
    <button><a href="{{ url("game-home") }}"> Tillbaka</a></button>
</div>
{% endblock %}
