{% extends "base.html.twig" %}

{% block title %}Result{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h3>Result</h3>
<p>
    This is Result {{ end}}
</p>
<div style="gap: 7px; display: flex;">
    <button><a href="{{ url("game-home") }}"> Home</a></button>
</div>
{% endblock %}
