{% extends "base.html.twig" %}

{% block body %}
<div class="content">
    <h1>Välkommen till About</h1>
    <p>
        I denna kursen skall vi lära oss programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC. 
    </p>
    <img class="sm-img" src="./img/php.png" alt="picture of small elephant on a laptop">
    <p>
        
         <a href="https://github.com/dbwebb-se/mvc">Länk till github</a>
    </p>
    
    <p>
        Den här sidan är skapad som en del av kmom01. <br>
        Sidan är skapad med ramverket Symfony  och renderas med templatemotorn Twig <br>
    </p>

</div> 
{% endblock body %}

