</body>
<footer class="footer">
    <div class="fot">
        <div class="fot-left">
            <p>
                Me-sida till mvc-kursen
            </p>
            <p>
                Av: annt21
            </p>
            <p>
                E-post: annt21@student.bth.se
            </p>
        </div>
        {# <div class="fot-right">
            <p>
                Advice from: https://api.adviceslip.com/advice
            </p>
        </div> #}
    
    </div>
</footer>
</html>