{% extends "base.html.twig" %}

    {% block body %}
        

<div class="content">
    <h1>Välkommen till Report</h1>

    <p>
        Det här är en test page för kursen MVC. Kmom01
    </p>
    <div class="report">
        <h4>Kmom01</h4>
        <p>
            De erfarenheter jag har sedan tidigare med objektorientering är från kursen oopython. Där fick vi jobba med både klasser och arv.
            Av det lilla vi nu gjort så tycker jag inte att det skiljer sig alltför mycket med hur man jobbar med det i PHP. 
        </p>
        <p>
            För att skapa en klass i php använder man keyword: class och sedan namnet på klassen. Sedan ramar man in klassen med måsvingar. I klassen använder man sig utav "properties" och "methods" för att bygga upp klassen. För att sedan instanciera klassen så använder man keyword: new och sedan klassens namn följt av ().<br>
            <a href="https://www.php.net/manual/en/language.oop5.basic.php"> PHP-manual för klasser</a>
        </p>
        <p>
            Kodbasen man får av ramverket är väldigt lätt att följa. Man har controllers och vyer. Det som man ger tillgång till läggs i public. Det var överraskande smidigt att routa till en ny vy. Att bara använda annotaitions var inget jag tidigare gjort. Hur det fungerar vet jag tyvärr inte. Det är något man bör ta reda på om man ska jobba mycket med ramverket.<br>
            Det lätt att se hur saker hänger ihop men inte alltid så lätt att se varför det fungerar.
        </p>
        <p>
            De delar av "PHP The Right Way" som jag tyckte var mest intressanta var "Design Patterns" eftersom det är det som kursen till stor del handlar om. Men också delen "Working with UTF-8" den delen lär komma till användning senare i kursen. Jag gissar att det är ett vanligt fel att missa om man inte sedan tidigare är van att ta speciell hänsyn när man jobbar med strängar.
        </p>
        TIL:
        <P>
            Hur smidigt det är att jobba med ramverk. Samt att PHP verkar ha ett stort community som bryr sig om språket. Det finns bra med dokumentation att tillgå.
        </P>
        <h4>Kmom02</h4>
        <h4>Kmom03</h4>
        <h4>Kmom04</h4>
        <h4>Kmom05</h4>
        <h4>Kmom06</h4>
        <h4>Kmom10</h4>
    </div>
</div>
{% endblock body %}







{# Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man 

Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.

Vilken är din TIL för detta kmom?

TIL är en akronym för “Today I Learned” vilket leksamt anspelar på att det finns alltid nya saker att lära sig, varje dag. Man brukar lyfta upp saker man lärt sig och där man kanske hajade till lite extra över dess nyttighet eller enkelhet, eller så var det bara en ny lärdom för dagen som man vill notera. #}